body {
    margin-top: 40px;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h3{
    position: absolute;
    top:10px;
    text-align: center;
    width: 100%;
    font-size: 24px;  
}
.container {
    position: relative;
    width: 600px;
    height: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
}

.sidenav {
    position: relative;
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#Green {
    top: 20px;
    background-color: #04AA6D;
}

#Blue {
    top: 80px;
    background-color: #2196F3;
}

#Red {
    top: 140px;
    background-color: #f44336;
}

#Grey {
    top: 200px;
    background-color: #555;
}

.content {
    margin-left: 100px;
    padding: 20px;
}
