body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 50px;
}

h1 {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    
    border: none;
    width: 500px;
    text-align: center;
}
.pointer{
    align-items: top-right;
    position: absolute;
    top: 40px; 
    right: 180px;
    
}
.user-icon {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.login-btn:hover {
    background-color: #45a049;
}

.remember-me {
    display: flex;
    align-items: center;
    width: 100%;
}

.remember-me input {
    margin-right: 5px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #88888847;
    height: 60px;
    width: 100%;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #e53935;
}

.forgot-password {
    color: #888;
    text-decoration: none;
}

.forgot-password span {
    color: #4CAF50;
}
